@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
    $color-config: mat.get-color-config($theme);
    $primary-pallete: map.get($color-config, 'primary');

    .article-content a {
        color: mat.get-color-from-palette($primary-pallete, 'default');
    }

    a.header-link{
        color: mat.get-color-from-palette($primary-pallete, 'default');
        display: inline-flex;
        text-decoration: none;
        margin-left: -40px;
        padding-right: 10px;
        margin-top: 2px;
        display: inline-block;
        vertical-align: middle;
        user-select: none;
        opacity: 0;
        transition: opacity 0.3s;
    }

    h1:hover a.header-link,
    h2:hover a.header-link{
        opacity: 1;
    }
}

@mixin typography($theme) {
    $typography-config: mat.get-typography-config($theme);

    .article-title {
        @include mat.typography-level($typography-config, 'headline-3');
    }

    .article-subtitle {
        @include mat.typography-level($typography-config, 'headline-6');
    }

    .article-info {
        @include mat.typography-level($typography-config, 'caption');
    }

    .article-content {
        font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
        @include color($theme);
    }

    $typography-config: mat.get-typography-config($theme);
    @if $typography-config != null {
        @include typography($theme);
    }
}
