@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
    // 获取theme的color config
    $color-config: mat.get-color-config($theme);
    // 获取primary pallete
    $primary-pallete: map.get($color-config, 'primary');
    $accent-pallete: map.get($color-config, 'accent');

}

@mixin typography($theme) {}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
        @include color($theme);
    }

    $typography-config: mat.get-typography-config($theme);
    @if $typography-config != null {
        @include typography($theme);
    }
}
