@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
    // 获取theme的color config
    $color-config: mat.get-color-config($theme);
    // 获取primary pallete
    $primary-pallete: map.get($color-config, 'primary');
    $accent-pallete: map.get($color-config, 'accent');

    .flex-container .content {
        background: linear-gradient(to bottom, mat.get-color-from-palette($primary-pallete, 'default') 0%, 
        mat.get-color-from-palette($accent-pallete, 'lighter') 100%);
    }

}

@mixin typography($theme) {}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
        @include color($theme);
    }

    $typography-config: mat.get-typography-config($theme);
    @if $typography-config != null {
        @include typography($theme);
    }
}
