.main-content {
    padding-top: 64px;
    overflow-y: auto;
    min-height: calc(100vh + 64px);
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.flex-container .content {
    flex: 1;
    height: 100vh;
    position: relative;
}