@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
    $color-config: mat.get-color-config($theme);
    $primary-pallete: map.get($color-config, 'primary');

    .container {
        background-color: mat.get-color-from-palette($primary-pallete, 'lighter');
    }
    
    $primary-100-color: mat.get-color-from-palette($primary-pallete, 100);
    .spinner-container {
        background: rgba($primary-100-color, 0.15);
    }
}

@mixin typography($theme) {}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
        @include color($theme);
    }

    $typography-config: mat.get-typography-config($theme);
    @if $typography-config != null {
        @include typography($theme);
    }
}
