.container {
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0 15%;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-content {
    padding-left: 5%;
    padding-right: 5%;
}