.index-container {
    color: white;
    text-align: center;
}

.slogan-container {
    padding-top: 5%;
    padding-bottom: 7%;
    display: flex;
    flex-direction: column;
}

.slogan-sentence {
    font-size: 2em;
    font-weight: 600;
    line-height: 3em;
    font-family: 'Poppins', sans-serif;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.slogan-sentence:hover {
    -webkit-text-stroke: 1px;
}

// github button
.github-link-container {
    background-color: #3f51b5;
    width: 100px;
    margin: 0 auto;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    background-color: #131b48;
    border-radius: 5px;
}

.github-btn-img {
    width: 30px;
    margin: 5px;
    display: block;
}
