.index-container {
    text-align: center;
}

.slogan-container {
    padding-top: 7%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan-sentence:hover {
    -webkit-text-stroke: 1px;
}

// github button
.github-button {
    text-decoration: none;
    padding: 5px;

    .github-button-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.github-btn-img {
    width: 30px;
    margin: 5px;
    display: block;
}
