<div class="table-container" *ngIf="showTable">
    <table mat-table [dataSource]="pageItem.records" class="table">

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let articleItem"> {{articleItem.title}} </td>
        </ng-container>

        <ng-container matColumnDef="subtitle">
            <th mat-header-cell *matHeaderCellDef> Subitle </th>
            <td mat-cell *matCellDef="let articleItem"> {{articleItem.subtitle}} </td>
        </ng-container>

        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> Author </th>
            <td mat-cell *matCellDef="let articleItem"> {{articleItem.userId}} </td>
        </ng-container>

        <ng-container matColumnDef="createTime">
            <th mat-header-cell *matHeaderCellDef> CreateTime </th>
            <td mat-cell *matCellDef="let articleItem"> {{articleItem.createTime | date: 'yyyy-MM-dd HH:mm:ss(z)'}}
            </td>
        </ng-container>

        <ng-container matColumnDef="updateTime">
            <th mat-header-cell *matHeaderCellDef> UpdateTime </th>
            <td mat-cell *matCellDef="let articleItem"> {{articleItem.updateTime | date: 'yyyy-MM-dd HH:mm:ss(z)'}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="onToArticleDetail(row.id)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<mat-list class="article-list" *ngIf="(!showTable) && pageItem">
    <a mat-list-item [routerLink]="'../../detail/' + articleItem.id"
        *ngFor="let articleItem of pageItem?.records; last as last;" role="article list item" [activated]="true"
        class="article-item">
        <mat-icon matListItemIcon>article</mat-icon>
        <div matListItemTitle> {{articleItem.title}} </div>
        <div matListItemLine class="subline"> {{articleItem.subtitle}} </div>
        <div matListItemLine class="subline">
            Create Time: {{articleItem.createTime | date}}
        </div>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </a>
    <mat-list-item *ngIf="pageItem?.records?.length === 0"> Sorry, there's no such articles. </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>
<mat-paginator *ngIf="pageItem" [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="handlePageEvent($event)" showFirstLastButtons aria-label="Select page of articles" 
    class="article-paginator"></mat-paginator>
<button mat-fab color="primary" aria-label="a switch icon" (click)="showTable = !showTable" class="view-switch-fab"
    matTooltip="switch view">
    <mat-icon *ngIf="!showTable">table_view</mat-icon>
    <mat-icon *ngIf="showTable">view_list</mat-icon>
</button>
<app-scroll-to-top></app-scroll-to-top>