// table view
.table-container {
  position: relative;
  overflow: auto;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: aliceblue;
}

// list view
.article-item:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.view-switch-fab {
  position: fixed;
  right: 30px;
  bottom: 10vh;
}
