.article-content {
    max-width: 100%;
}

.article-content h1 {
    display: inline-block;
    font-size: 34px;
    font-weight: 400;
    padding: 5px
}
.article-content h2 {
    font-size: 24px;
    font-weight: 400;
}

.article-content h3{
    font-size: 20px;
    color: #0000008a;
}

.article-content h2, .article-content h4 {
    margin-top: 40px;
}
.article-content h4 {
    font-size: 18px;
    font-weight: 400;
    color: #0000008a;
}

.article-content h5 {
    font-size: 18px;
}
.article-content h6 {
    font-size: 18px;
    font-weight: 400;
}

.article-content p, .article-content ul, .article-content ol {
    font-size: 16px;
    line-height: 20px;
}

.article-content a {
    text-decoration: none;
    color: #3f51b5;
}

.article-content pre {
    border-radius: 5px;
    display: block;
    margin: 16px auto;
    overflow-x: auto;
    padding: 20px;
    background: rgba(0,0,0,.01);
    border: .5px solid rgba(0,0,0,.2);
}
.article-content pre code {
    padding: 0;
    font-size: 100%;
    background: transparent;
}

.article-content code {
    padding: 3px;
    background: rgba(0,0,0,.03);
}

code,pre {
    font-family: Roboto Mono,monospace;
}

code {
    font-size: 90%;
}

pre {
    font-size: 14px;
}

.article-content>table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 32px;
    width: 100%;
    font-size: 14px;
}

.article-content>table code {
    background: transparent;
}

.article-content>table th {
    font-weight: 400;
    max-width: 100px;
    padding: 14px 16px;
    text-align: left;
    border: 1px solid rgba(0,0,0,.12);
    background: whitesmoke;
}

.article-content>table td {
    font-weight: 400;
    padding: 8px 16px;
    border: 1px solid rgba(0,0,0,.12);
}

.article-content table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 32px;
    width: 100%;
    font-size: 14px;
    color: #000000de;
}










/*
.article-content a:not(.mat-mdc-button-base) {
    color: #673ab7
}
.article-content pre {
    background: rgba(0,0,0,.01);
    border: .5px solid rgba(0,0,0,.2)
}

.article-content pre code {
    background: transparent
}

.article-content code {
    background: rgba(0,0,0,.03)
}
.article-content>table {
    color: #000000de
}

.article-content>table th {
    background: whitesmoke
}

.article-content>table td,.article-content>table thead {
    border: 1px solid rgba(0,0,0,.12)
}


.article-content {
    max-width: 100%
}

.article-content h1 {
    display: inline-block;
    font-size: 34px;
    font-weight: 400;
    padding: 5px
}

.article-content p,.article-content ul,.article-content ol {
    font-size: 16px;
    line-height: 28px
}

.article-content a {
    text-decoration: none
}

.article-content pre {
    border-radius: 5px;
    display: block;
    margin: 16px auto;
    overflow-x: auto;
    padding: 20px;
    white-space: pre-wrap
}

.article-content pre code {
    padding: 0;
    font-size: 100%
}

.article-content code {
    padding: 3px
}

.article-content>table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 32px;
    width: 100%
}

.article-content>table {
    font-size: 14px
}

.article-content>table code {
    background: transparent
}

.docs-api th,.article-content>table th {
    font-weight: 400;
    max-width: 100px;
    padding: 14px 16px;
    text-align: left
}

.article-content>table td {
    font-weight: 400;
    padding: 8px 16px
}
@media (max-width: 959px) {
    .docs-api table,.article-content>table {
        margin:0 0 32px
    }

    .docs-api th,.article-content>table th {
        padding: 6px 16px
    }

    .docs-api td,.article-content>table td {
        padding: 4px 8px
    }
}

*/
