.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.logo {
    position: relative;
    top: 3px;
    height: 35px;
}

.spacer {
    flex: 1 1 auto;
}

a{
    height: 40px;
}

a.nav-item {
    text-decoration: none;
    color: inherit;
}

.nav-item-selected {
    background: rgba(0,0,0,.2);
}