.spacer {
    flex: 1 1 auto;
}

a{
    height: 40px;
}

a.nav-item {
    text-decoration: none;
    color: inherit;
}

mat-toolbar {
    position: fixed;
    top: 0px;
    z-index: 2;

}

.logo {
    height: 35px;
    margin: 0;
    top: 3px;
    position: relative;
}