<mat-toolbar color="primary" role="heading">
    <button mat-icon-button aria-label="menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-divider [inset]="true" role="separator"></mat-divider>

    
    <a href="#">
        <img src="assets/logo.png" alt="logo" style="height: inherit;">
    </a>
    <span class="example-spacer"></span>

    <a href="#" mat-button class="nav-item"><span>技术</span></a>
    <a href="#" mat-button class="nav-item"><span>算法</span></a>
    <a href="#" mat-button class="nav-item"><span>项目</span></a>
    <a href="#" mat-button class="nav-item"><span>工具</span></a>
    <a href="#" mat-button class="nav-item"><span>方法论</span></a>
    <a href="#" mat-button class="nav-item"><span>生活</span></a>
    <a href="#" mat-button class="nav-item"><span>其他</span></a>

    <button mat-icon-button aria-label="dark mode icon">
        <mat-icon>dark_mode</mat-icon>
    </button>
</mat-toolbar>