.footer {
    padding: 16px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
}

.footer-list {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding: 8px;
}

.footer-logo {
    flex: 1;
}

img {
    height: 50px;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}